.new-todo {
    padding: 1rem;
    margin: 0.1rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
  }
  
  .new-todo button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #566ef7;
    background-color: #566ef7;
    color: white;
    margin: 0.1rem ;
    border-radius: 10px;
    margin-right: 0.5rem;
  }
  
  .new-todo button:hover,
  .new-todo button:active {
    background-color:  #0f7880;
    border-color: #0f7880;
  }
  
  .new-todo button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-todo button.alternative:hover,
  .new-todo button.alternative:active {
    background-color: #ddb3f8;
  }