@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #e7f0b7;
}

.app{
  background-color: #09c3f1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
 background-color: rgba(8, 0, 126, 0.911);
 width: 450px;
 min-height: 600px;
 padding: 10px;
 box-sizing: border-box;
 border-radius: 12px;
 box-shadow: 1px 2px 35px #0a0c00;
}

.header {
 color:rgba(250, 244, 244, 0.911);
 margin:0px 0;
 font-size:x-large;
 display: flex;
 justify-content: center;
 align-items: center;
}
